@model ProfilesViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<link href="~/js/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

<!-- Begin Page Content -->

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-Active-tab" data-toggle="pill" href="#pills-Active" role="tab" aria-controls="pills-Active" aria-selected="true">Active Profiles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-DeActivated-tab" data-toggle="pill" href="#pills-DeActivated" role="tab" aria-controls="pills-DeActivated" aria-selected="false">DeActivated Profiles</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-Active" role="tabpanel" aria-labelledby="pills-Active-tab">
            @{
                ViewData["DataTable"] = "DataTableActive";
            }
            <partial name="~/Views/Partials/_ViewProfiles.cshtml" model="Model.ActiveProfiles" view-data="ViewData" />
        </div>
        <div class="tab-pane fade" id="pills-DeActivated" role="tabpanel" aria-labelledby="pills-DeActivated-tab">
            @{
                ViewData["DataTable"] = "DataTableDeActived";
            }
            <partial name="~/Views/Partials/_ViewProfiles.cshtml" model="Model.DeActivedProfiles" view-data="ViewData" />
        </div>
    </div>

    <!-- Page Heading -->
    @*<h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@

    <!-- DataTales Example -->


<!-- /.container-fluid -->

@section Scripts {
    <script src="~/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/CustomScript.js"></script>
    @*For toast*@
    <link href="/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="/lib/toastr/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "order": [[4, "desc"]],//order by createddate desc - 4th column
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });

            var qs = location.pathname.substring(location.pathname.lastIndexOf("/") + 1);
            if (qs != "index") {
                if (qs == "2") {
                    $('.nav-pills a[href="#pills-DeActivated"]').tab('show');
                }
            }

        });

        //For toast
        var msg = @Html.Raw(Json.Serialize(ViewBag.Message));
        if (msg != null) {
            debugger;
            displayToast(msg);
        }

    </script>
}