@model SiteSettings

@{
    ViewData["Title"] = "Site Settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header bg-primary text-white">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold text-white">@ViewData["Title"]</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger" id="validationSummary"></div>
                <div class="form-group">
                    <label asp-for="ProfileVerificationMessage" class="small mb-1"></label>
                    <textarea asp-for="ProfileVerificationMessage" class="form-control" placeholder="Enter Profile Verification Message"></textarea>
                    <span asp-validation-for="ProfileVerificationMessage" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block" id="btnSave">
                                <strong>Save</strong>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a class="btn btn-danger btn-block" id="btnCancel" asp-controller="admin" asp-action="index"><strong>Cancel</strong></a>
                        </div>
                    </div>
                </div>
                <input asp-for="OrgId" type="hidden" />
                <input asp-for="SiteSettingsId" type="hidden" />
                <input asp-for="CreatedDate" type="hidden" />
                <input asp-for="CreatedBy" type="hidden" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
    @*For toast*@
    <link href="/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="/lib/toastr/toastr.min.js"></script>

    <script>
        //For toast
        debugger;
        var msg = @Html.Raw(Json.Serialize(ViewBag.Message));
        if (msg != null) {
            displayToast(msg);
        }

    </script>
}