@model KalyanamMatrimony.ViewModels.EditUserProfileViewModel

@{
    var photoPath1 = "/images/" + (Model.ExistingPhotoPath1 ?? "noimageThumb400.jpg");
    var photoPath2 = "/images/" + (Model.ExistingPhotoPath2 ?? "noimageThumb400.jpg");
    var photoPath3 = "/images/" + (Model.ExistingPhotoPath3 ?? "noimageThumb400.jpg");
}

<input type="hidden" id="hdFileSizeLimit" />
<input type="hidden" id="hdHeight" asp-for="Height" />
<input type="hidden" id="hdMaritalStatus" asp-for="MaritalStatus" />
<input type="hidden" id="hdBodyType" asp-for="BodyType" />
<input type="hidden" id="hdComplexion" asp-for="Complexion" />
<input type="hidden" id="hdMotherTongue" asp-for="MotherTongue" />
<input type="hidden" id="hdBloodGroup" asp-for="BloodGroup" />
<input type="hidden" id="hdReligion" asp-for="Religion" />
<input type="hidden" id="hdCaste" asp-for="Caste" />
<input type="hidden" id="hdDiet" asp-for="Diet" />
<input type="hidden" id="hdSmoke" asp-for="Smoke" />
<input type="hidden" id="hdDrink" asp-for="Drink" />
<input type="hidden" id="hdFamilyValues" asp-for="FamilyValues" />
<input type="hidden" id="hdRasi" asp-for="Rasi" />
<input type="hidden" id="hdNakshatram" asp-for="Nakshatram" />

<div class="container-fluid">
    <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
                </div>
                @*<div class="col-md-2">
                        <a class="btn btn-success" asp-controller="profile" asp-action="index">View Profiles</a>
                    </div>*@
            </div>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger" id="validationSummary"></div>
                <div class="row">
                    <div class="col-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-userinfo-tab" data-toggle="pill" href="#v-pills-userinfo" role="tab" aria-controls="v-pills-userinfo" aria-selected="true">User</a>
                            <a class="nav-link" id="v-pills-personalInfo-tab" data-toggle="pill" href="#v-pills-personalInfo" role="tab" aria-controls="v-pills-personalInfo" aria-selected="false">Personal</a>
                            <a class="nav-link" id="v-pills-eduInfo-tab" data-toggle="pill" href="#v-pills-eduInfo" role="tab" aria-controls="v-pills-eduInfo" aria-selected="false">Education</a>
                            <a class="nav-link" id="v-pills-familyInfo-tab" data-toggle="pill" href="#v-pills-familyInfo" role="tab" aria-controls="v-pills-familyInfo" aria-selected="false">Family</a>
                            <a class="nav-link" id="v-pills-hobbies-tab" data-toggle="pill" href="#v-pills-hobbies" role="tab" aria-controls="v-pills-hobbies" aria-selected="false">Hobby</a>
                            <a class="nav-link" id="v-pills-horoscope-tab" data-toggle="pill" href="#v-pills-horoscope" role="tab" aria-controls="v-pills-horoscope" aria-selected="false">Horoscope</a>
                            <a class="nav-link" id="v-pills-photos-tab" data-toggle="pill" href="#v-pills-photos" role="tab" aria-controls="v-pills-photos" aria-selected="false">Photo</a>
                        </div>
                    </div>
                    <div class="col-10 card shadow-lg border-0 rounded-lg">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-userinfo" role="tabpanel" aria-labelledby="v-pills-userinfo-tab">

                                @*<div class="card-body">*@
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="small mb-1"></label>
                                            <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="LastName" class="small mb-1"></label>
                                            <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="small mb-1"></label>
                                    <input asp-for="Email" disabled class="form-control" placeholder="Enter Email Address" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                @*<div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Password" class="small mb-1"></label>
                                    <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="small mb-1"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>*@
                                <div class="form-group">
                                    <label asp-for="EndDate" class="small mb-1"></label>
                                    <input asp-for="EndDate" class="form-control" type="date" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" disabled>Back</button>

                                    <button type="button" class="btn btn-primary" onclick="moveNext(2);">Next</button>
                                </div>

                                @*</div>*@

                            </div>
                            <div class="tab-pane fade" id="v-pills-personalInfo" role="tabpanel" aria-labelledby="v-pills-personalInfo-tab">
                                @*<div class="card-body">*@
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Age" class="small mb-1"></label>
                                            <input asp-for="Age" class="form-control " placeholder="Enter Age" />
                                            <span asp-validation-for="Age" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="DateOfBirth" class="small mb-1"></label>
                                            <input asp-for="DateOfBirth" class="form-control" type="date" />
                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Gender" class="small mb-1"></label>
                                            <select asp-for="Gender" class="custom-select mr-sm-2"
                                                    asp-items="Html.GetEnumSelectList<KalyanamMatrimony.Models.CustomEnums.ProfileGender>()">
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Height" class="small mb-1"></label>
                                            <select asp-for="Height" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Height" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="MaritalStatus" class="small mb-1"></label>
                                            <select asp-for="MaritalStatus" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="HaveChildren" class="small mb-1"></label>
                                            <input asp-for="HaveChildren" class="form-control" placeholder="Enter Have Children" />
                                            <span asp-validation-for="HaveChildren" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="BodyType" class="small mb-1"></label>
                                            <select asp-for="BodyType" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="BodyType" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Complexion" class="small mb-1"></label>
                                            <select asp-for="Complexion" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Complexion" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="MotherTongue" class="small mb-1"></label>
                                            <select asp-for="MotherTongue" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="MotherTongue" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="BloodGroup" class="small mb-1"></label>
                                            <select asp-for="BloodGroup" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="CurrentLocation" class="small mb-1"></label>
                                            <input asp-for="CurrentLocation" class="form-control" placeholder="Enter Current Location" />
                                            <span asp-validation-for="CurrentLocation" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="SpokenLanguages" class="small mb-1"></label>
                                            <input asp-for="SpokenLanguages" class="form-control" placeholder="Enter Spoken Languages" />
                                            <span asp-validation-for="SpokenLanguages" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Religion" class="small mb-1"></label>
                                            <select asp-for="Religion" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Religion" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @*<label asp-for="Caste" class="small mb-1"></label>
                                    <input asp-for="Caste" class="form-control" placeholder="Enter Caste" />
                                    <span asp-validation-for="Caste" class="text-danger"></span>*@

                                            <label asp-for="Caste" class="small mb-1"></label>
                                            <select asp-for="Caste" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Caste" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="SubCaste" class="small mb-1"></label>
                                            <input asp-for="SubCaste" class="form-control" placeholder="Enter Sub Caste" />
                                            <span asp-validation-for="SubCaste" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Diet" class="small mb-1"></label>
                                            <select asp-for="Diet" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Diet" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Smoke" class="small mb-1"></label>
                                            <select asp-for="Smoke" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Smoke" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Drink" class="small mb-1"></label>
                                            <select asp-for="Drink" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Drink" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="AboutYourself" class="small mb-1"></label>
                                            <textarea asp-for="AboutYourself" class="form-control" placeholder="Enter About Yourself"></textarea>
                                            <span asp-validation-for="AboutYourself" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="moveNext(1);">Back</button>

                                    <button type="button" class="btn btn-primary" onclick="moveNext(3);">Next</button>
                                </div>
                                @*</div>*@
                            </div>
                            <div class="tab-pane fade" id="v-pills-eduInfo" role="tabpanel" aria-labelledby="v-pills-eduInfo-tab">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Education" class="small mb-1"></label>
                                            <input asp-for="Education" class="form-control " placeholder="Enter Education" />
                                            <span asp-validation-for="Education" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="University" class="small mb-1"></label>
                                            <input asp-for="University" class="form-control" placeholder="Enter University" />
                                            <span asp-validation-for="University" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Profession" class="small mb-1"></label>
                                            <input asp-for="Profession" class="form-control" placeholder="Enter Profession" />
                                            <span asp-validation-for="Profession" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="AnnualIncome" class="small mb-1"></label>
                                            <input asp-for="AnnualIncome" class="form-control" placeholder="Enter Annual Income" />
                                            <span asp-validation-for="AnnualIncome" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="WorkingAt" class="small mb-1"></label>
                                            <input asp-for="WorkingAt" class="form-control" placeholder="Enter Working At" />
                                            <span asp-validation-for="WorkingAt" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="sidebar-divider">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber" class="small mb-1"></label>
                                            <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ContactPersonName" class="small mb-1"></label>
                                            <input asp-for="ContactPersonName" class="form-control" placeholder="Enter Contact Person Name" />
                                            <span asp-validation-for="ContactPersonName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ContactPersonRelationShip" class="small mb-1"></label>
                                            <input asp-for="ContactPersonRelationShip" class="form-control" placeholder="Enter Contact Person RelationShip" />
                                            <span asp-validation-for="ContactPersonRelationShip" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="moveNext(2);">Back</button>

                                    <button type="button" class="btn btn-primary" onclick="moveNext(4);">Next</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-familyInfo" role="tabpanel" aria-labelledby="v-pills-familyInfo-tab">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="FatherName" class="small mb-1"></label>
                                            <input asp-for="FatherName" class="form-control " placeholder="Enter Father Name" />
                                            <span asp-validation-for="FatherName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="FatherOccupation" class="small mb-1"></label>
                                            <input asp-for="FatherOccupation" class="form-control " placeholder="Enter Father Occupation" />
                                            <span asp-validation-for="FatherOccupation" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="MotherName" class="small mb-1"></label>
                                            <input asp-for="MotherName" class="form-control" placeholder="Enter Mother Name" />
                                            <span asp-validation-for="MotherName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="MotherOccupation" class="small mb-1"></label>
                                            <input asp-for="MotherOccupation" class="form-control " placeholder="Enter Mother Occupation" />
                                            <span asp-validation-for="MotherOccupation" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Brothers" class="small mb-1"></label>
                                            <input asp-for="Brothers" class="form-control " placeholder="Enter Brothers" />
                                            <span asp-validation-for="Brothers" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="MarriedBrothers" class="small mb-1"></label>
                                            <input asp-for="MarriedBrothers" class="form-control " placeholder="Enter Married Brothers" />
                                            <span asp-validation-for="MarriedBrothers" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Sisters" class="small mb-1"></label>
                                            <input asp-for="Sisters" class="form-control" placeholder="Enter Sisters" />
                                            <span asp-validation-for="Sisters" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="MarriedSisters" class="small mb-1"></label>
                                            <input asp-for="MarriedSisters" class="form-control " placeholder="Enter Married Sisters" />
                                            <span asp-validation-for="MarriedSisters" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="FamilyValues" class="small mb-1"></label>
                                            <select asp-for="FamilyValues" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="FamilyValues" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label asp-for="AboutFamily" class="small mb-1"></label>
                                            <textarea asp-for="AboutFamily" class="form-control " placeholder="Enter About Family"></textarea>
                                            <span asp-validation-for="AboutFamily" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="moveNext(3);">Back</button>

                                    <button type="button" class="btn btn-primary" onclick="moveNext(5);">Next</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-hobbies" role="tabpanel" aria-labelledby="v-pills-hobbies-tab">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Hobbies" class="small mb-1"></label>
                                            <input asp-for="Hobbies" class="form-control " placeholder="Enter Hobbies" />
                                            <span asp-validation-for="Hobbies" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="FavoriteMusic" class="small mb-1"></label>
                                            <input asp-for="FavoriteMusic" class="form-control " placeholder="Enter Favorite Music" />
                                            <span asp-validation-for="FavoriteMusic" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="FavoriteMovies" class="small mb-1"></label>
                                            <input asp-for="FavoriteMovies" class="form-control " placeholder="Enter Favorite Movies" />
                                            <span asp-validation-for="FavoriteMovies" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="FavoriteCuisine" class="small mb-1"></label>
                                            <input asp-for="FavoriteCuisine" class="form-control " placeholder="Enter Favorite Cuisine" />
                                            <span asp-validation-for="FavoriteCuisine" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Sports" class="small mb-1"></label>
                                            <input asp-for="Sports" class="form-control " placeholder="Enter Sports" />
                                            <span asp-validation-for="Sports" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PreferredDress" class="small mb-1"></label>
                                            <input asp-for="PreferredDress" class="form-control " placeholder="Enter Preferred Dress" />
                                            <span asp-validation-for="PreferredDress" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="moveNext(4);">Back</button>

                                    <button type="button" class="btn btn-primary" onclick="moveNext(6);">Next</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-horoscope" role="tabpanel" aria-labelledby="v-pills-horoscope-tab">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Gothram" class="small mb-1"></label>
                                            <input asp-for="Gothram" class="form-control " placeholder="Enter Gothram" />
                                            <span asp-validation-for="Gothram" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Rasi" class="small mb-1"></label>
                                            <select asp-for="Rasi" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Rasi" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @*<label asp-for="Nakshatram" class="small mb-1"></label>
                                    <input asp-for="Nakshatram" class="form-control " placeholder="Enter Nakshatram" />
                                    <span asp-validation-for="Nakshatram" class="text-danger"></span>*@

                                            <label asp-for="Nakshatram" class="small mb-1"></label>
                                            <select asp-for="Nakshatram" class="custom-select mr-sm-2"></select>
                                            <span asp-validation-for="Nakshatram" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Manglik" class="small mb-1"></label>
                                            <input asp-for="Manglik" class="form-control " placeholder="Enter Manglik" />
                                            <span asp-validation-for="Manglik" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="AstroProfile" class="small mb-1"></label>
                                            <textarea asp-for="AstroProfile" class="form-control" placeholder="Enter Astrology Profile"></textarea>
                                            <span asp-validation-for="AstroProfile" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="moveNext(5);">Back</button>

                                    <button type="button" class="btn btn-primary" onclick="moveNext(7);">Next</button>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="v-pills-photos" role="tabpanel" aria-labelledby="v-pills-photos-tab">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img class="img-thumbnail" id="imgProfile1" src="@photoPath1" asp-append-version="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input asp-for="PhotoFile1" class="form-control custom-file-input" accept="image/*" />
                                                <label class="custom-file-label">Choose Profile Pic...</label>
                                                <span asp-validation-for="PhotoFile1" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img class="img-thumbnail" id="imgProfile2" src="@photoPath2" asp-append-version="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input asp-for="PhotoFile2" class="form-control custom-file-input" accept="image/*" />
                                                <label class="custom-file-label">Choose Profile Pic...</label>
                                                <span asp-validation-for="PhotoFile2" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <img class="img-thumbnail" id="imgProfile3" src="@photoPath3" asp-append-version="true" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input asp-for="PhotoFile3" class="form-control custom-file-input" accept="image/*" />
                                                <label class="custom-file-label">Choose Profile Pic...</label>
                                                <span asp-validation-for="PhotoFile3" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" onclick="moveNext(6);">Back</button>
                                            <button type="button" class="btn btn-primary" disabled>Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block" id="btnCreateProfile">
                                                Save Profile</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input asp-for="ProfileId" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <input type="hidden" id="hdExistingPhotoPath1" asp-for="ExistingPhotoPath1" />
                <input type="hidden" id="hdExistingPhotoPath2" asp-for="ExistingPhotoPath2" />
                <input type="hidden" id="hdExistingPhotoPath3" asp-for="ExistingPhotoPath3" />
            </form>

        </div>
    </div>


</div>
