@inject SignInManager<ApplicationUser> signInManager
@inject RoleManager<IdentityRole> roleManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- CSS only -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">*@
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- JS, Popper.js, and jQuery -->
    <script src="~/js/jquery/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
    @* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .footer {
            background: #152F4F;
            color: white;
            .links

        {
            ul

        {
            list-style-type: none;
        }

        li a {
            color: white;
            transition: color .2s;
            &:hover

        {
            text-decoration: none;
            color: #4180CB;
        }

        }
        }

        .about-company {
            i

        {
            font-size: 25px;
        }

        a {
            color: white;
            transition: color .2s;
            &:hover

        {
            color: #4180CB
        }

        }
        }

        .location {
            i

        {
            font-size: 18px;
        }

        }

        .copyright p {
            border-top: 1px solid rgba(255,255,255,.1);
        }

        }


    </style>
</head>
<body>
    <div class="container">
        @*Navigation*@
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-controller="home" asp-action="index">Kalyanam Matrimony</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="profile" asp-action="search">Search</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>*@
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="navbar-brand">
                                Welcome @User.Identity.Name
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-alarm-fill"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                 aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item" asp-controller="profile" asp-action="viewmyprofile">My Profile</a>
                                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" asp-controller="admin" asp-action="index">Dashboard</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="profile" asp-action="editmyprofile">Edit Profile</a>
                                }
                                <a class="dropdown-item" asp-controller="account" asp-action="changepassword">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="account" asp-action="logout">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="account" asp-action="login">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        @*Navigation*@



        @RenderBody()



        <!-- Footer -->
        <div class="mt-5 pt-5 pb-5 footer navbar-dark bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xs-12 about-company">
                        <h2>Kalyanam Matrimony</h2>
                        <p class="pr-5 text-white-50">About Matrimony site</p>
                        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-xs-12 links">
                        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                        <ul class="m-0 p-0">
                            <li>- <a href="#">1</a></li>
                            <li>- <a href="#">2</a></li>
                            <li>- <a href="#">3</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-xs-12 location">
                        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                        <p>address</p>
                        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                        <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col copyright">
                        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->

        

    </div>


    <div id="divProgressBar">
        <partial name="~/Views/Partials/_ProgressBar.cshtml" />
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

    <script>
        $(document).ready(function () {
            $("#divProgressBar").css("display", "none");
        });
    </script>




</body>
</html>
