@{
    ViewBag.Title = "Acknowledge";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h3>Thank you for registrating with us. We have sent the confirmation link to your registered email.
    Please check your registered email, and click on the confirmation link to login to our system.</h3>