@{
    ViewBag.Title = "Acknowledge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-white">
    Thank you for signing up with our matrimony services.<br />We are excited to provide you industry best standard services.
    <br /><br />To activate your account & to start using our services, please check your registered email and click on confirmation link to verify your email.
    <br /><br />Happy Matrimony!!!<br /><br />Regards,<br />The Matrimony Team.
</h3>