@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h4>
                                Your password is reset. Please click <a asp-action="Login">here to login</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
